body {
    margin: 0;
}


.program {
    border-bottom: 1px black solid;
    margin-bottom: 10px;
    margin-top: 10px;
}

#program_info{
    border: 1px black;
    border-radius: 5px;
    background-color: #F2F0F2;
    padding: 10px;
}

.file_upload{
    width:100%;
    height:60px;
    line-height: 60px;
    border: 1px black dashed;
    border-radius: 5px;
    //text-align: center;
    margin: 10px;
}

.form_item{
    margin-left: 10px;
    width: 100%;
}

#program_run{
    padding: 5px;
}

.form_item_label{
    margin-bottom: -3px;
}

